<%-include("partials/header");-%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title">Title</label><br>
    <input type="text" name="title"><br>
    <label for="Postdata">Post</label><br>
    <textarea name="Postdata" rows="8" cols="80"></textarea><br>   
    <button type="submit" name="button" class="btn btn-primary">publish</button>
</form>
<%-include("partials/footer");-%>